@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@800&family=Seymour+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@800&family=Open+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

.fonte {
  font-family: 'Mulish', sans-serif;
}
.fontBold{
  font-family: "ABC Ginto Nord","Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.font2{
  font-family: 'Rubik Mono One', sans-serif;

}
