@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@800&family=Seymour+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@800&family=Open+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

.fonte {
  font-family: 'Mulish', sans-serif;
}

.fontBold {
  font-family: "ABC Ginto Nord", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.font2 {
  font-family: 'Rubik Mono One', sans-serif;
}

.cl {
  transition: 0.2s all linear;

}
.white{
  color: white;
}

.cl:hover {
  color: white !important;
  background-color: #3BA55D;
  border-radius: 25px;
  transition:  border 0.5s linear;
}

.disconuvem {
  background-image: url('../public/discordNuvem.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.gridcoluns {
  grid-template-rows: auto;
  display: grid;
  grid-template-areas: 'grand grand ul1 ul2 ul3 ul4'
}

.grand {
  grid-area: grand;
}

.ul1 {
  grid-area: ul1;
}

.ul2 {
  grid-area: ul2;
}

.ul3 {
  grid-area: ul3;
}

.ul4 {
  grid-area: ul4;
}

.bg-img {
  /* background-color: #5865F2; */
  background-image: url('../public/teste3.png');
  background-position: center 0%;
  background-repeat: no-repeat;
  background-size: cover;
}

.checked {
  display: flex;
  background-color: #5865F2;
}

.notChecked {
  display: none;
}

.iconChecked {
  color: white;
  font-size: 18px;
}

.chk input:checked+span {
  background-color: #5865F2;
  background-image: url('../public/check-icon.svg');
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center center;

}

.spanLError {
  color: #F38688;
}

.shadow {
  -webkit-box-shadow: 2px 4px 14px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 4px 14px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 4px 14px 0px rgba(0, 0, 0, 0.75);
}

.gr path {
  stroke: #96989D;
}
.animacaoBlack{
  animation: ModalBlack 0.2s linear !important;
}
.grayy{
  background-color: red;
}
.animacaoBlackSaida{
  animation: ModalBlackSaida 0.2s linear !important;
opacity: 0;
}
@keyframes ModalBlackSaida {
  from{opacity: 0.8;}
  to{opacity: 0;}
}
@keyframes ModalBlack {
  from {opacity: 0;}
  to {opacity: 0.8;}
}
@media screen and (max-width:1050px) {
  .gridcoluns {
    grid-template-areas: 'grand grand ul1 ul2'
      "grand grand ul3 ul4"
  }
}

@media screen and (max-width:750px) {
  .gridcoluns {
    grid-template-areas: 'grand grand grand grand'
      'ul1 ul1 ul2 ul2'
      'ul3 ul3 ul4 ul4';
    column-gap: 40px;
    row-gap: 10px;
  }
}